.offer-banners__content
  height: px-to-vw(250, 1920)

.offer-banners__img
  display: flex
  justify-content: flex-end
  width: 100%
  height: 100%
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.offer-banners__img--left
  justify-content: flex-start

.offer-banners__wrapper
  width: 67%
  padding-top: px-to-vw(49, 1920)

.offer-banners__title
  margin-bottom: px-to-vw(8, 1920)
  font-family: $font-family-base-extra-bold
  font-size: px-to-vw(26, 1920)
  font-weight: $font-weight-base
  text-align: center
  text-transform: uppercase
  letter-spacing: 2px

.offer-banners__subtitle
  margin-bottom: px-to-vw(29, 1920)
  font-size: px-to-vw(14, 1920)
  text-align: center
  letter-spacing: px-to-vw(5, 1920)
  text-transform: uppercase

.offer-banners__button
  position: relative
  display: block
  width: 32%
  padding: px-to-vw(20, 1920) 0
  margin: 0 auto
  color: #ffffff
  background-color: #000000
  font-size: px-to-vw(12, 1920)
  text-align: center
  text-transform: uppercase
  font-weight: $font-weight-extra-bold
  letter-spacing: 2px
  border-radius: px-to-vw(28, 1920)


.offer-banners__button::after
  content: ""
  background: #000
  position: absolute
  border-bottom: 30px solid rgba(0, 0, 0, 1)
  border-left: 30px solid transparent
  border-right: 30px solid transparent


