.blog__content
  position: relative
  height: px-to-vw(380, 1920)

.blog__img
  width: 100%
  height: 100%
  background-repeat: no-repeat
  background-size: cover
  background-position: center

.blog__wrapper
  position: absolute
  bottom: -10px
  left: 0
  right: 0
  margin: 0 auto
  width: 85%
  background-color: #ffff

.blog__title
  font-family: $font-family-base-extra-bold
  font-size: px-to-vw(18, 1920)
  text-align: center
  text-transform: uppercase

.blog__subtitle
  color: #7d7d7d
  font-size: px-to-vw(14, 1920)
  font-style: italic
  text-align: center
