.blog__container
  width: calc(69.271% + 30px)
  padding: 0 15px
  margin: 0 auto

.blog__slide-content
  position: unset
  width: 88%
  margin: 0 auto
  height: px-to-vw(410, 1920)

.blog__content
  position: relative
  display: block
  height: px-to-vw(380, 1920)

.blog__slider
  position: relative

  .swiper-button-prev,
  .swiper-button-next
    position: absolute
    background-image: none
    border: none
    outline: none
    width: 49px
    height: 49px
    top: calc(50% - 15px)

  .swiper-button-prev svg
    transition: fill 0.3s

  .swiper-button-next svg
    transition: fill 0.3s

  .swiper-button-prev
    left: 0

  .swiper-button-next
    right: 0

  .swiper-button-prev:hover

    svg
      &:hover
        fill: #AAAAAA

  .swiper-button-next:hover

    svg
      &:hover
         fill: #AAAAAA

.blog__img
  width: 100%
  height: 100%
  background-repeat: no-repeat
  background-size: cover
  background-position: center

.blog__wrapper
  position: absolute
  bottom: px-to-vw(-26, 1920)
  left: 0
  right: 0
  margin: 0 auto
  padding-top: px-to-vw(18, 1920)
  width: 85%
  background-color: #ffff

.blog__title
  color: #000000
  font-family: $font-family-base-extra-bold
  font-size: px-to-vw(18, 1920)
  text-align: center
  text-transform: uppercase

.blog__subtitle
  color: #7d7d7d
  font-size: px-to-vw(14, 1920)
  font-style: italic
  text-align: center

