.product-types__container
  width: calc(75% + 30px)
  padding: 0 15px
  margin: 0 auto

.product-types__slide-content
  width: 81.25%
  height: px-to-vw(480, 1920)
  margin: 0 auto
  position: static

.product-types__title
  margin-bottom: px-to-vw(20, 1920)
  font-family: $font-family-base-extra-bold
  font-size: px-to-vw(26, 1920)
  font-weight: $font-weight-semi-bold
  text-transform: uppercase
  text-align: center

.product-types__subtitle
  margin-bottom: px-to-vw(45, 1920)
  font-size: px-to-vw(14, 1920)
  font-weight: bold
  text-align: center
  letter-spacing: 3px

.product-types__slide
  height: 100%

.product-types__img
  width: 100%
  height: 100%
  background-position: center
  background-size: contain
  background-repeat: no-repeat

.product-types__slider
  position: relative

  .swiper-button-next,
  .swiper-button-prev
    display: flex
    justify-content: center
    align-items: center
    width: 110px
    height: 43px
    background-image: none
    background-color: #d7d7d7
    outline: none
    border: none
    font-size: px-to-vw(14, 1920)
    text-transform: uppercase
    letter-spacing: 2px
    transform: rotate(270deg)
    transition: background-color 0.3s

  .swiper-button-next
    right: px-to-vw(-33, 1920)

  .swiper-button-prev
    left: px-to-vw(-33, 1920)

  .swiper-button-next:hover,
  .swiper-button-prev:hover
    background-color: #afafaf

.product-types__button
  position: absolute
  bottom: px-to-vw(45, 1920)
  left: 50%
  margin-left: -25%
  display: block
  width: 48%
  padding: px-to-vw(20, 1920) 0
  background-color: #000000
  color: #ffffff
  font-size: px-to-vw(13, 1920)
  font-weight: $font-weight-semi-bold
  text-align: center
  text-transform: uppercase
  letter-spacing: 2px
  border-radius: px-to-vw(28, 1920)
  transition: box-shadow 0.4s

.product-types__button:hover
  box-shadow: 0 0 30px inset rgba(255,255,255, 0.5)




