.nav-panel__content
  display: flex
  padding: px-to-vw(200, 1920) 0 px-to-vw(80, 1920)

.nav-panel__title
  margin-bottom: px-to-vw(30, 1920)
  font-family: $font-family-base-extra-bold
  font-size: px-to-vw(15, 1920)
  font-weight: $font-weight-bold
  text-transform: uppercase

  +max-w($laptop_md)
    font-size: px-to-vw(11, $laptop_sm)
    margin-bottom: px-to-vw(10, $laptop_sm)

.nav-panel__col
  width: calc((100% - 60px - 23%) / 4)
  margin-right: px-to-vw(60, 1920)

.nav-panel__col:last-child
  width: 33%
  margin-right: 0

.nav-panel__item
  margin-bottom: 10px

  +max-w($laptop_md)
    margin-bottom: 5px

.nav-panel__link
  display: inline
  color: #727272
  font-size: px-to-vw(14, 1920)
  text-transform: capitalize
  border-bottom: 1px solid transparent
  transition: border-color 0.3s

  +max-w($laptop_md)
    font-size: px-to-vw(10, $laptop_sm)

.nav-panel__link:hover
  border-bottom-color: #727272

.nav-panel__link--hover
  border: none

.nav-panel__strong
  font-family: $font-family-base-extra-bold
  font-size: px-to-vw(14, 1920)

  +max-w($laptop_md)
    font-size: px-to-vw(12, $laptop_sm)

