.nav-panel__content
  display: flex
  padding: 200px 0 80px

.nav-panel__title
  margin-bottom: px-to-vw(30, 1920)
  font-family: $font-family-base-extra-bold
  font-size: px-to-vw(15, 1920)
  font-weight: $font-weight-bold
  text-transform: uppercase

.nav-panel__col
  width: 18%
  //margin-right: 65px

.nav-panel__col:last-child
  width: 26%
  margin-right: 0

.nav-panel__item
  margin-bottom: 10px

.nav-panel__link
  color: #727272
  font-size: px-to-vw(14, 1920)
  text-transform: capitalize

.nav-panel__strong
  font-family: $font-family-base-extra-bold

