.socials
  position: absolute
  top: 0
  left: 0
  width: 65px
  height: 100%
  background-color: #ededed
  z-index: 100

.socials__content
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100%
  width: 100%

.socials__list
  margin-bottom: px-to-vw(65, 1920)

.socials__item
  margin-bottom: px-to-vw(45, 1920)

.socials__item svg
  transition: fill 0.3s

  &:hover
    fill: #AAAAAA

.socials__item:last-child
  margin-bottom: 0

.socials__link
  display: block
  width: 20px
  height: 20px

.socials__text
  font-family: $font-family-base-extra-bold
  font-size: 10px
  font-weight: 400
  text-transform: uppercase
  letter-spacing: 2px
  writing-mode: vertical-rl
  transform: rotate(180deg)
  white-space: nowrap
  display: inline-block
