.footer__text
  text-align: center

.footer__logo
  text-align: center

.footer__title
  font-family: $font-family-base-extra-bold
  font-size: px-to-vw(28, 1920)
  text-transform: uppercase
  line-height: px-to-vw(26, 1920)
  letter-spacing: 1px

.footer__subtitle
  font-size: px-to-vw(12, 1920)
  line-height: px-to-vw(15.5, 1920)
  text-transform: uppercase
